@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(243, 184, 184, 0.2);
}

.topbar {
  display: flex;
  height: 50px;
  color: #f8f8f8;
  background-color: #6b4099;
  justify-content: space-between;
}

.text-1 {
  margin-left: 50px;
}

.text-2 {
  margin-right: 50px;
}
/* NAVBAR */

.navbar-container {
  display: flex;
  width: 100%;
}

.nav-nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

li {
  display: inline;
  list-style: none;
  font-size: 1.3rem;
}

ul {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.topnav a.active {
  background-color: #2196f3;
  color: white;
}

/* Style the input container */
.topnav .login-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a,
  .topnav input[type="text"],
  .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* WELCOME SECTION */
.welcome-address-container {
  margin: 10%;
  width: 80%;
  height: auto;
  background-color: #f8f8f8;
  box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
}

.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.welcome-img {
  height: 400px;
  width: 400px;
  margin: 50px;
  background-image: url(/Images/flower\ vase.jpg);
  background-size: cover;
  background-position: center;
}

.welcome-text {
  height: auto;
  width: 40%;
  font-size: 1.5rem;
}

/* LOCATION SECTION */
.location-container {
  width: 100%;
  height: auto;
}

.location-header {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.locations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.location-1 {
  width: 300px;
  height: 300px;
  background: lightblue;
  position: relative;
  box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 50px;
}
.location-2 {
  width: 300px;
  height: 300px;
  background: lightgray;
  position: relative;
  box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 50px;
}
.location-3 {
  width: 300px;
  height: 300px;
  background: lightgoldenrodyellow;
  position: relative;
  box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 50px;
}

.text-container {
  position: absolute;
  height: 75%;
  width: 100%;
  z-index: 2;
  left: 0;
  bottom: 0;
  background-color: white;
  overflow: hidden;
}

.name {
  margin-top: 10px;
  color: #002b8f;
  font-size: 2rem;
}

.content {
  color: #3ba0ff;
  font-size: 1.5rem;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  width: 50%;
  margin: 25% 25%;
  padding-top: 5px;
}

.footer-container {
  display: flex;
  background-color: black;
  color: #f8f8f8;
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  margin-right: 10px;
  padding: 5px;
  height: auto;
  width: 400px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
